<div id="<%= dom_id catalog %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= catalog.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= catalog.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Visible:</strong>
    <%= catalog.visible? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= catalog.user_id %>
  </div>
</div>
